<header>
  <a href="/"> <h1>Members-Only</h1> </a>
  <li><a href="/create-message">Create Message</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/sign-up">Signup</a></li>
  <li><a href="/membership">Join Membership</a></li>
  <li><a href="/logout"> Logout </a></li>
</header>
